<div class="margin-auto position-relative retention-donut-size">
  <svg class="position-absolute width-full">
    <defs>
      <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color: <%= Dashboard.likes_color %>; stop-opacity:1" />
        <stop offset="100%" style="stop-color: <%= Dashboard.comments_color %>; stop-opacity:1" />
      </linearGradient>
    </defs>
  </svg>
<div id="retention-rate" class="position-absolute size-full z-10"></div>
  <div class="horizontal-vertical-center direction-column size-full z-1">
    <div class="donut-title text-center"><%= KpiDash.new(@group, 'members_ratio').call %> %</div>
    <div class="donut-subtitle text-center"><strong><%= KpiDash.new(@group, 'members_active').call %></strong> ACTIVE MEMBERS</div>
  </div>
</div>

<% content_for :after_js do %>
  <script type="text/javascript">
    function retentionChart() {
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%=
          active_inactive_members = KpiDash.new(@group, 'members').call
          retention_chart = [
            ['Members', 'Number of members'],
            ['Active', active_inactive_members[:active]],
            ['Inactive', active_inactive_members[:inactive]]
          ]
          raw retention_chart.to_json
        %>);

        var options = {
          fontName: 'Open Sans',
          chartArea: {
            width: '90%',
            height: '90%'
          },
          pieHole: 0.9,
          pieSliceBorderColor: 'transparent',
          pieSliceText: 'none',
          animation: {
            duration: 5000,
            startup: true,
            easing: 'in',
          },
          legend: { position: "none" },
          backgroundColor: { fill:'transparent' },
          slices: {
            0: { color: '#5bc5f1' },
            1: { color: 'transparent' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('retention-rate'));
        google.visualization.events.addListener(chart, 'ready', allReady);
        google.visualization.events.addListener(chart, 'onmouseover', allReady);
        google.visualization.events.addListener(chart, 'onmouseout', allReady);
        chart.draw(data, options);
      }

      function allReady() {
        $("#retention-rate [fill='#5bc5f1']").attr('fill', 'url(#grad1)');
      }
    }
  </script>
<% end %>
