<%= simple_form_for [@group, @push_message], html: { class: 'krowd-share-box' } do |f| %>
  <div class="share">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-1 margin-right">
            <%= image_tag current_user.mugshot_url, class: "avatar-square" %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div>
              <%= @group.full_name %>
            </div>
            <div>
              created <%= (Time.now.to_i - Time.at(current_user.created_at.to_i).to_i) / (60*60*24) %> days ago
            </div>
          </div>
        </div>
      </div>
        <div class="panel-body">
          <%= f.input :body, as: :text, label: false, input_html: { cols: 40, rows: 10, class: "form-control message", placeholder: "What's your message?" } %>
        </div>
      <div class="panel-footer">
      <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe, group_incentive_templates_path(@group), remote: true %>
        <div class="form-group">
          <div class="button-holder">
            <div class="submit-button">
              <div class="krowd-hidden fa fa-check done"></div>
              <%= f.button :button, "Create Push post", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $(".btn-primary").click(function() {
        var button, parent;
        $(this).addClass("loading");
        $('.loading:focus').blur()
        button = $(this)
        parent  = $(this).parent();

        setTimeout(function() {
          button.addClass("hide-loading");
          parent.find(".done").addClass("finish");
        }, 3000);

        setTimeout(function() {
          button.removeClass("loading");
          button.removeClass("hide-loading");
          parent.find(".done").removeClass("finish");
        }, 5000);
      })
    });
  </script>

  <script>
    $(document).ready(function() {
      $(".fa-refresh").click(function() {
        $(this).addClass("fa-spin");
        button = $(this)

        setTimeout(function() {
        button.removeClass("fa-spin");
        }, 3000);
      })
    });
  </script>
<% end %>
