<div class="margin-top"></div>
<div class="container-full grid">
  <div class="row">
    <div class="grid-element element-donut col-xs-12 col-sm-6 col-md-3 blue-dam-1">
      <div class="comment-row">
        <div class="badge-comment turquoise-1">
          <p><%= KpiDash.new(@group, 'likes').call %></p>
          <p>Likes</p>
        </div>
        <div class="badge-comment green-1">
          <p><%= KpiDash.new(@group, 'comments').call %></p>
          <p>Comments</p>
        </div>
      </div>
      <div class="grid-donut">
        <canvas class='donut-chart donut-chart-general' id="retention-rate"></canvas>
        <%= content_for :donuts_js do %>
          <script>
            function donut() {
              var ctx = document.getElementById("retention-rate").getContext("2d");
              var gradient = ctx.createLinearGradient(0, 0, 200, 0);
              gradient.addColorStop(0, '#36AD7E');
              gradient.addColorStop(1, '#5BC5F1');

              var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: [
                  'good',
                  'bad'
                  ],
                  datasets: [{
                      // label: '# of Votes',
                      data: <%= KpiDash.new(@group, 'members').call %>,
                      backgroundColor: [
                      gradient,
                      '#0B1B28'
                      ],
                      borderWidth: 0,
                  }]
                },
                options: {
                  cutoutPercentage: 93,
                  legend: { display: false }
                }
              });
            }
          </script>
          <% end %>
        <div class="donut-inner">
            <div class="donut-title"><%= KpiDash.new(@group, 'members_ratio').call %> %</div>
            <div class="donut-subtitle"><%= KpiDash.new(@group, 'members_active').call %> active members</div>
        </div>
      </div>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 turquoise-1">
      <%= render 'groups/dashboard_partials/general_partials/top3_departments' %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 green-1 padding-text">
      <div class="blockquote"><%= KpiDash.new(@group, 'influencer').call[:message].plain.split('').to_a[0..340].join %>...</div>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 white-card">
      <div class="badge-card best-reward">
        <div class="best-reward-picture">
          <div class="badge-reward text-center">
            <div class="badge-pictures  margin-top-two-bis">
              <div class="grad-border">
                <%= image_tag KpiDash.new(@group, 'influencer').call[:user].mugshot_url, class: "avatar-badges-best" %>
              </div>
              <img class="reward-picto" src="<%= path_to_image "activist.svg" %>">
            </div>
            <h3>The Influencer</h3>
            <h4>The most liked post</h4>
            <h4><%= KpiDash.new(@group, 'influencer').call[:user].first_name %> <%= KpiDash.new(@group, 'influencer').call[:user].last_name %></h4>
          </div>
        </div>
        <div class="like-row">
          <div class="badge-like turquoise-1">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <%= KpiDash.new(@group, 'influencer').call[:likes] %>
          </div>
          <div class="badge-like green-1">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <%= KpiDash.new(@group, 'influencer').call[:comments] %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "The Activist" ,
        description: "The Serial Commentator: #{KpiDash.new(@group, 'activist').call[:comments]} messages",
        name: "#{KpiDash.new(@group, 'activist').call[:user].first_name} #{KpiDash.new(@group, 'activist').call[:user].last_name}",
        picture: "activist.svg",
        mugshot_url: KpiDash.new(@group, 'activist').call[:user].mugshot_url %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "The Networker",
        description: "The Serial Notifier: #{KpiDash.new(@group, 'networker').call[:notified_by]} notified users",
        name: "#{KpiDash.new(@group, 'networker').call[:user].first_name} #{KpiDash.new(@group, 'networker').call[:user].last_name}",
        picture: "networker.svg",
        mugshot_url: KpiDash.new(@group, 'networker').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "The Inventor",
        description: "The most posted ideas: #{KpiDash.new(@group, 'inventor').call[:ideas]} ideas posted",
        name: "#{KpiDash.new(@group, 'inventor').call[:user].first_name} #{KpiDash.new(@group, 'inventor').call[:user].last_name}",
        picture: "inventor.svg",
        mugshot_url: KpiDash.new(@group, 'inventor').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "The Mastermind",
        description: "The best knowledges: #{KpiDash.new(@group, 'mastermind').call[:knowledges]} knowledges",
        name: "#{KpiDash.new(@group, 'mastermind').call[:user].first_name} #{KpiDash.new(@group, 'mastermind').call[:user].last_name}",
        picture: "mastermind.svg",
        mugshot_url: KpiDash.new(@group, 'mastermind').call[:user].mugshot_url
      %>
    </div>
  </div>
</div>

