<div class="margin-top"></div>
<div class="container-full grid">
  <div class="row">
    <div class="grid-element element-donut col-xs-12 col-sm-6 col-lg-3 blue-dam-1">
      <div class="comment-row">
        <div class="badge-comment turquoise-1">
          <p class="numbers-bungee"><%= KpiDash.new(@group, 'likes').call %></p>
          <p>LIKES</p>
        </div>
        <div class="badge-comment green-1">
          <p class="numbers-bungee"><%= KpiDash.new(@group, 'comments').call %></p>
          <p>COMMENTS</p>
        </div>
      </div>
      <div class="grid-donut">


      <style>
  svg {
    fill: linear-gradient(#133c55, #36AD7E);
    z-index: 10;
    width: 100px;
    height: 100px;
  }
</style>

  <div style="
    margin:          auto;
    width:           260px;
    height:          260px;
    display:         flex;
    align-items:     center;
    justify-content: center;
    position:        relative;
  ">
    <canvas id="retention-rate" style="
      width:  260px;
      height: 260px;
      border-radius: 50%;
    "></canvas>
    <div style="
      position: absolute;
    ">
      <%= render 'idea' %>
    </div>
  </div>

<% content_for :test_js do %>
  <script>
    var ctx = document.getElementById("retention-rate").getContext("2d");
    var gradient = ctx.createLinearGradient(0, 0, 200, 0);
    gradient.addColorStop(0, '#36AD7E');
    gradient.addColorStop(1, '#5BC5F1');

    var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [
        'good',
        'bad'
        ],
        datasets: [{
            // label: '# of Votes',
            data: [70, 30],
            backgroundColor: [
            gradient,
            '#0B1B28'
            ],
            borderWidth: 0,
        }]
      },
      options: {
        responsive: true,
        cutoutPercentage: 93,
        legend: { display: false }
      }
    });
  </script>
<% end %>



<!--         <canvas class='donut-chart donut-chart-general' id="retention-rate"></canvas>
        <%= content_for :donuts_js do %>
          <script>
            function donut() {
              var ctx = document.getElementById("retention-rate").getContext("2d");
              var gradient = ctx.createLinearGradient(0, 0, 200, 0);
              gradient.addColorStop(0, '#36AD7E');
              gradient.addColorStop(1, '#5BC5F1');

              var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                  labels: [
                  'good',
                  'bad'
                  ],
                  datasets: [{
                      // label: '# of Votes',
                      data: <%= KpiDash.new(@group, 'members').call %>,
                      backgroundColor: [
                      gradient,
                      '#0B1B28'
                      ],
                      borderWidth: 0,
                  }]
                },
                options: {
                  cutoutPercentage: 93,
                  legend: { display: false }
                }
              });
            }
          </script>
          <% end %> -->
<!--         <div class="donut-inner">
            <div class="donut-title numbers-bungee"><%= KpiDash.new(@group, 'members_ratio').call %> %</div>
            <div class="donut-subtitle"><strong><%= KpiDash.new(@group, 'members_active').call %></strong> ACTIVE MEMBERS</div>
        </div> -->
      </div>
    </div>
    <div class="grid-element element-bar-chart col-xs-12 col-sm-6 col-lg-3 turquoise-1">
      <%= render 'groups/dashboard_partials/general_partials/top3_departments' %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 green-1 padding-text">
      <div class="blockquote"><%= KpiDash.new(@group, 'influencer').call[:message].plain.split('').to_a[0..340].join %>...</div>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 white-card">
      <div class="badge-card best-reward">
        <div class="best-reward-picture">
          <div class="badge-reward text-center">
            <div class="badge-pictures  margin-top-two-bis">
              <div class="grad-border">
                <%= image_tag KpiDash.new(@group, 'influencer').call[:user].mugshot_url, class: "avatar-badges-best" %>
              </div>
              <img class="reward-picto" src="<%= path_to_image "activist.svg" %>">
            </div>
            <h3>THE INFLUENCER</h3>
            <p>The most liked post</p>
            <p><%= "#{KpiDash.new(@group, 'influencer').call[:user].first_name} #{KpiDash.new(@group, 'influencer').call[:user].last_name.capitalize}" %></p>
          </div>
        </div>
        <div class="like-row">
          <div class="badge-like turquoise-1">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <%= KpiDash.new(@group, 'influencer').call[:likes] %>
          </div>
          <div class="badge-like green-1">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <%= KpiDash.new(@group, 'influencer').call[:comments] %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "THE ACTIVIST" ,
        description: "The Serial Commentator: #{KpiDash.new(@group, 'activist').call[:comments]} messages",
        name: "#{KpiDash.new(@group, 'activist').call[:user].first_name} #{KpiDash.new(@group, 'activist').call[:user].last_name.capitalize}",
        picture: "activist.svg",
        mugshot_url: KpiDash.new(@group, 'activist').call[:user].mugshot_url %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "THE NETWORKER",
        description: "The Serial Notifier: #{KpiDash.new(@group, 'networker').call[:notified_by]} notified users",
        name: "#{KpiDash.new(@group, 'networker').call[:user].first_name} #{KpiDash.new(@group, 'networker').call[:user].last_name.capitalize}",
        picture: "networker.svg",
        mugshot_url: KpiDash.new(@group, 'networker').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "THE INVENTOR",
        description: "The most posted ideas: #{KpiDash.new(@group, 'inventor').call[:ideas]} ideas posted",
        name: "#{KpiDash.new(@group, 'inventor').call[:user].first_name} #{KpiDash.new(@group, 'inventor').call[:user].last_name.capitalize}",
        picture: "inventor.svg",
        mugshot_url: KpiDash.new(@group, 'inventor').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-lg-3 blue-dam-2 general-title">
      <%= render "groups/dashboard_partials/dashboard_badge",
        title: "THE MASTERMIND",
        description: "The best knowledges: #{KpiDash.new(@group, 'mastermind').call[:knowledges]} knowledges",
        name: "#{KpiDash.new(@group, 'mastermind').call[:user].first_name} #{KpiDash.new(@group, 'mastermind').call[:user].last_name.capitalize}",
        picture: "mastermind.svg",
        mugshot_url: KpiDash.new(@group, 'mastermind').call[:user].mugshot_url
      %>
    </div>
  </div>
</div>

