<div class="margin-top"></div>
<div class="container-full grid">
  <div class="row">
    <div class="grid-element col-xs-12 col-sm-6 blue-dam-1">
      <% data = {
        labels: [
          'good',
          'bad'
        ],
        datasets: [
          {
            data: [70, 30],
            backgroundColor: [
              '#00FF00',
              '#0B1B28'
            ],
            borderWidth: 0
          }
        ]
      }
       %>
      <div class="grid-donut"><%= doughnut_chart data, circumference: 1 * 2 * Math::PI, cutoutPercentage: 95, legend: { display: false }, width: "auto", responsive: true, id: 'retention-rate', class: 'donut-chart' %>
        <div class="donut-inner">
            <div class="donut-title">70 %</div>
            <div class="donut-subtitle">25 active members</div>
        </div>
      </div>
    </div>
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
  </div>
  <div class="row">
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-1">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
    <div class="grid-element col-xs-12 col-sm-3 blue-dam-2">
      <%= render "groups/dashboard_partials/dashboard_badge" %>
    </div>
  </div>
</div>

