<div class="badge-card">
  <div class="text-center">
    <div class="badge-pictures">
      <% if @demo %>
        <img class="avatar-badges" src="<%= path_to_image name + '.jpeg' %>">
      <% else %>
        <%= image_tag mugshot_url, class: "avatar-badges" %>
      <% end %>
      <img class="reward-picto" src="<%= path_to_image picture %>">
    </div>
    <h4><%= title %></h4>
    <p><%= description %></p>
    <p><%= name %></p>
  </div>
</div>




