<div class="margin-top">
  <div class="container-full grid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 ">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= render "groups/dashboard_partials/dashboard_badge" %>
      </div>
    </div>
  </div>
</div>
