<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url('<%= path_to_image "background.jpg" %>');">
  <div class="container margin-top padded" >
    <div class="row">
      <% @groups.each do |group| %>
        <%= link_to group_path(group) do %>
          <div class="col-xs-12 col-sm-4">

            <div class="card card-group margin-bottom padded" style="background-image: url(' <%= path_to_image "card-background.jpg" %>');">
              <div class="card-category">Popular</div>

              <div class="card-group-description ">

                <div class="card-group-picture-absolute">
                  <%= image_tag group.mugshot_url, class: "avatar-square card-group-picture-img" %>
                </div>

                <h2><%= group.full_name %></h2>
              </div>


            </div>

          </div>

        <% end %>
      <% end %>

      <%= link_to '', 'data-toggle' => 'modal', 'data-target' => '#myModal' do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card card-group margin-bottom padded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= path_to_image "card-background-new.jpg" %>')">
            <div class="card-category">Popular</div>
              <div class="card-group-description">
                <div class="card-group-picture-absolute">
                  <%= image_tag "https://www.bunnyholder.com/50/50", class: "avatar-square card-group-picture-img" %>
                </div>
                  <h2>Create a new challenge</h2>
              </div>
            </div>
          </div>

      <% end %>

    </div>
  </div>
<div>

<%= render 'modal_form_create_group' %>

