<div class="container margin-top padded" >
  <div class="row">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card margin-bottom padded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= path_to_image "card-background.jpg" %>');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <%= image_tag "card-background.jpg", class: "avatar-square card-picture" %>
              <h1><%= group.full_name %></h1>
              <p><%= group.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to '', 'data-toggle' => 'modal', 'data-target' => '#myModal' do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card margin-bottom padded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= path_to_image "card-background.jpg" %>');">
          <div class="card-category">Popular</div>
            <div class="card-description">
              <%= image_tag "https://www.bunnyholder.com/50/50", class: "avatar-square card-picture" %>
              <h1>Create a new challenge</h1>
              <p>And some additionnal stuff</p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div

<%= render 'modal_form_create_group' %>
