  <div class="container margin-top" >
  <div class="row">
    <% @groups.each do |group| %>
      <%= link_to group_path(group) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('<%= path_to_image "card-background.jpg" %>');">
            <div class="card-container">Popular</div>
            <div class="card-description">
              <h1><%= group.full_name %></h1>
              <p><%= group.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to 'https://www.google.fr', 'data-toggle' => 'modal', 'data-target' => '#myModal'  do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
            <div class="card-description">
              <h1>Create a new challenge</h1>
              <p>And some additionnal stuff</p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'modal_form_create_group' %>
