<div id="wrapper">
  <%= render 'groups/dashboard/sidebar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <section id="general" class="margin-top">
          <%= render 'groups/dashboard/general/index' %>
        </section>
      </div>
      <div class="row">
        <section id="badges">
          <%= render 'groups/dashboard/badges/index' %>
        </section>
      </div>
      <div class="row">
        <section id="organization">
          <%= render 'groups/dashboard/organization/index' %>
        </section>
      </div>
      <div class="row">
        <section id="innovation">
          <%= render 'groups/dashboard/innovation/index' %>
        </section>
      </div>
      <div class="row">
        <section id="push">
          <%= render 'groups/dashboard/push/index' %>
        </section>
      </div>
    </div>
  </div>
</div>
