<div id="wrapper">
  <%= render 'dashboard_navbar' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <section id="general">
            <%= render 'groups/dashboard_partials/general' %>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <section id="map">
            <%= render 'groups/dashboard_partials/map' %>
          </section>
        </div>
      </div>
<!--  <div class="row">
        <div class="col-xs-12">
          <section id="innovation">
            <%= render 'groups/dashboard_partials/innovation' %>
          </section>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-12">
          <section id="organization">
            <%= render 'groups/dashboard_partials/organization' %>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <section id="push">
            <%= render 'groups/dashboard_partials/push' %>
          </section>
        </div>
      </div>
<!--       <div class="row">
        <div class="col-xs-12">
          <section id="settings">
            <%= render 'groups/dashboard_partials/settings' %>
          </section>
        </div>
      </div> -->
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    if ( window.location.hash ) scroll(0,0);
    setTimeout( function() { scroll(0,0); }, 1);

    $(document).ready(function(){
      if(window.location.hash) {
          var anchor = window.location.hash
          $('.tab.active').removeClass("active");
          $('a[href="' + anchor + '"]').addClass("active");

          // smooth scroll to the anchor id
          $('html, body').animate({
              scrollTop: $(window.location.hash).offset().top - 70
          }, 1000, 'swing');
      }
    })
  </script>
<% end %>
