<div class="margin-top"></div>
<div class="container-full grid">
  <div class="row">
    <div class="grid-element element-donut col-xs-12 col-sm-6 col-md-3 col-lg-3 blue-dam-1">
      <div class="comment-row">
        <div class="badge-comment turquoise-1">
          <p class="numbers-bungee"><%= KpiDash.new(@group, 'likes').call %></p>
          <p>LIKES</p>
        </div>
        <div class="badge-comment green-1">
          <p class="numbers-bungee"><%= KpiDash.new(@group, 'comments').call %></p>
          <p id="comments">COMMENTS</p>
        </div>
      </div>

      <div class="grid-donut">
        <%= render 'groups/dashboard/general/retention_donut_chart' %>
      </div>
    </div>

    <div class="grid-element element-bar-chart col-xs-12 col-sm-6 col-md-3 col-lg-3 turquoise-1">
      <%= render 'groups/dashboard/general/top_departments' %>
    </div>

    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 green-1 padding-text">
      <%= render 'groups/dashboard/general/influencer_message' %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 white-card">
      <%= render 'groups/dashboard/general/influencer_badge' %>
    </div>
  </div>
  <div class="row">
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 blue-dam-2">
      <%= render "groups/dashboard/general/badge",
        title: "THE ACTIVIST" ,
        description: "The Serial Commentator: #{KpiDash.new(@group, 'activist').call[:comments]} messages",
        name: "#{KpiDash.new(@group, 'activist').call[:user].first_name} #{KpiDash.new(@group, 'activist').call[:user].last_name.capitalize}",
        picture: "activist.svg",
        mugshot_url: KpiDash.new(@group, 'activist').call[:user].mugshot_url %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 blue-dam-1">
      <%= render "groups/dashboard/general/badge",
        title: "THE NETWORKER",
        description: "The Serial Notifier: #{KpiDash.new(@group, 'networker').call[:notified_by]} notified users",
        name: "#{KpiDash.new(@group, 'networker').call[:user].first_name} #{KpiDash.new(@group, 'networker').call[:user].last_name.capitalize}",
        picture: "networker.svg",
        mugshot_url: KpiDash.new(@group, 'networker').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 blue-dam-2">
      <%= render "groups/dashboard/general/badge",
        title: "THE INVENTOR",
        description: "The most posted ideas: #{KpiDash.new(@group, 'inventor').call[:ideas]} ideas posted",
        name: "#{KpiDash.new(@group, 'inventor').call[:user].first_name} #{KpiDash.new(@group, 'inventor').call[:user].last_name.capitalize}",
        picture: "inventor.svg",
        mugshot_url: KpiDash.new(@group, 'inventor').call[:user].mugshot_url
      %>
    </div>
    <div class="grid-element col-xs-12 col-sm-6 col-md-3 col-lg-3 blue-dam-1 general-title">
      <%= render "groups/dashboard/general/badge",
        title: "THE MASTERMIND",
        description: "The best knowledges: #{KpiDash.new(@group, 'mastermind').call[:knowledges]} knowledges",
        name: "#{KpiDash.new(@group, 'mastermind').call[:user].first_name} #{KpiDash.new(@group, 'mastermind').call[:user].last_name.capitalize}",
        picture: "mastermind.svg",
        mugshot_url: KpiDash.new(@group, 'mastermind').call[:user].mugshot_url
      %>
    </div>
  </div>
</div>

