<div class="innovation-donut">
  <div id=<%= donut_id %> class="innovation-donut-container"></div>
  <div class="innovation_donut_content">
    <i class="fa fa-<%= icon %> fa-fw" aria-hidden="true"></i>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    function <%= donut_id %>() {
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(innovationChart);
      function innovationChart() {
        var data = google.visualization.arrayToDataTable(<%=
          innovation_chart_title = ['Type', 'Comments']
          innovation_division = KpiDash.new(@group, kpi).call
          innovation_legend = [
            'Business - Innovation',
            'Business - Disruption',
            'Technology - Innovation',
            'Technology - Disruption'
          ]

          innovation_data = innovation_division.each_with_index.map do |division, index|
            [innovation_legend[index], innovation_division[index]]
          end

          innovation_data.unshift innovation_chart_title
          raw innovation_data.to_json
        %>);

        var options = {
          fontName: 'Open Sans',
          chartArea: {
            width: '90%',
            height: '90%'
          },
          <%=
            if kpi == 'innovation_kint'
              raw "legend: {
                  position: 'labeled',
                  textStyle: {
                    color: 'white'
                  }
                },"
            else
              raw "legend: { position: 'none' },"
            end
          %>
          pieSliceText: 'none',
          pieHole: 0.85,
          pieSliceBorderColor: 'transparent',
          animation: {
            duration: 5000,
            startup: true,
            easing: 'in',
          },
          backgroundColor: { fill:'transparent' },
          slices: {
            0: { color: '<%= Dashboard.innovation_donuts_colors[:business_innovation] %>' },
            1: { color: '<%= Dashboard.innovation_donuts_colors[:business_disruption] %>' },
            2: { color: '<%= Dashboard.innovation_donuts_colors[:technology_innovation] %>' },
            3: { color: '<%= Dashboard.innovation_donuts_colors[:technology_disruption] %>' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById("<%= donut_id %>"));
        chart.draw(data, options);
      }
    }
  </script>
<% end %>

